body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-link{
  font-family: Monserrat Alternates;
}

.main-container{
  padding:50px 0px 0px 0px; 

  
}
.main-intro{
  width:100;

}

.main-intro .jumbotron{
  padding: 300px 70px 100px 100px;
  margin: 0px;
  background-image: url("https://img.freepik.com/free-vector/road-desert-with-cars-riding-asphalt-highway-with-cacti-along-route-rocks-golden-sand-roadway-landscape-with-skyline-rocky-barren-wasteland-travel-trip-cartoon-vector-illustration_107791-9987.jpg?w=2000");
  background-color: rgb(47, 47, 73);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode:hard-light;
  position: relative;
  text-align: center;


}
.main-intro .jumbotron h1{
  font-family: Monserrat Alternates;
  font-weight: bold;
  color: rgb(255, 254, 254);
  font-size: 100px;
  padding:5px 10px 10px;
  /* text-align: center; */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.main-intro .jumbotron p{
  font-family: Monserrat Alternates;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;
  padding: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 10px;
  margin-right: 10px;

}

/* .footer-container {
  width: 300x;;
  padding: 20px;
  
} */

.footer-text {
  text-align: center;
  color: white;
  
}
